<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
</ion-navbar>

<ion-content>
    <div class="about-header">
        <img src="img/ionic-logo-white.svg">
    </div>
    <div padding class="about-info">
        <h4>Continer app</h4>

        <div>
            <ion-icon name="calendar"></ion-icon>
            01/05/2016
        </div>

        <div>
            <ion-icon name="pin"></ion-icon>
            Högberga, SE
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta ligula et velit semper, maximus cursus
            augue ultrices. Curabitur sem purus, semper et turpis a, varius egestas justo. Donec tempus lorem in massa
            dictum, vel commodo nisi placerat. Suspendisse tellus turpis, tincidunt a porta vel, convallis sed massa.
            Nam elit magna, bibendum ut blandit ut, pretium vel ex. Ut eu mattis quam. Nulla sollicitudin quam a purus
            euismod tincidunt. Fusce viverra erat vitae pretium iaculis. Duis quis commodo metus. Vivamus commodo ornare
            nulla, ac varius odio pretium at. Nullam est ipsum, hendrerit sed porta et, pulvinar at diam. In hac
            habitasse platea dictumst. Vestibulum fringilla eu diam ac faucibus. Nullam venenatis fringilla pharetra.
        </p>

        <p>
            Duis feugiat purus eget mi aliquet, eu lacinia est tempus. Maecenas a mattis dolor. Nam elementum convallis
            mauris, id interdum augue vestibulum a. Nam fringilla arcu vel nunc malesuada, a consequat magna gravida.
            Nam tincidunt, lacus sit amet viverra venenatis, magna ex dictum massa, vel maximus neque ligula ut libero.
            Praesent eu turpis viverra, scelerisque nisl vel, scelerisque purus. Proin sit amet risus quis justo
            fringilla convallis quis a ligula. Vestibulum semper efficitur eros, non pharetra justo mollis nec. Sed vel
            metus ac est blandit cursus. Aliquam malesuada justo ornare felis congue, ut luctus nisl euismod. Ut nisl
            leo, bibendum sit amet maximus id, pulvinar quis ante. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Quisque eget condimentum enim.
        </p>
    </div>
</ion-content>
