<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Users</ion-title>
</ion-navbar>

<ion-content class="outer-content speaker-list">
  <ion-card *ngFor="#user of users" class="speaker">

    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="user.profilePic">
        </ion-avatar>
        {{user.name}}
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item (click)="goToUserDetail(user)">
          <h3>About {{user.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-item>
      <button (click)="goToUserTwitter(user)" clear item-left>
        <ion-icon name="logo-twitter"></ion-icon>
        Tweet
      </button>
      <button (click)="openUserShare(user)" clear item-right>
        <ion-icon name="share"></ion-icon>
        Share
      </button>
    </ion-item>

  </ion-card>
</ion-content>
