
<ion-navbar *navbar>
    <ion-title>Project</ion-title>
</ion-navbar>

<ion-content padding>
    <h1>{{project.insurance.damageType}} - {{project.insurance.damageLocation}}</h1>

    <p>{{project.dateStarted}} - {{project.dateDue}}</p>

    <p>{{project.description}}</p>
</ion-content>
