
<ion-navbar *navbar>
  <ion-title>{{user.name}}</ion-title>
</ion-navbar>

<ion-content padding class="speaker-detail">

  <div text-center>
    <img [src]="user.profilePic" [alt]="user.name"><br>

    <button clear small twitter><ion-icon name="logo-twitter"></ion-icon></button>
    <button clear small github><ion-icon name="logo-github"></ion-icon></button>
    <button clear small instagram><ion-icon name="logo-instagram"></ion-icon></button>
  </div>

  <p>{{user.about}}</p>

</ion-content>
