<ion-navbar *navbar class="hide-border">
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="project">
        <ion-segment-button value="all">
            All
        </ion-segment-button>
        <ion-segment-button value="favorites">
            Favorites
        </ion-segment-button>
    </ion-segment>
</ion-navbar>

<ion-content class="schedule">
    <ion-list [hidden]="shownProjects === 0">
        <ion-item-group>
            <ion-item-sliding *ngFor="#project of projects" #slidingItem>
                <button ion-item (click)="goToProjectDetail(project)">
                    <h2>{{project.insurance.damageType}} - {{project.insurance.damageLocation}}</h2>
                    <p>{{project.insurance.dateReceived}}</p>
                </button>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

    <ion-list-header [hidden]="shownProjects > 0">
        No Projects Found
    </ion-list-header>
</ion-content>
